---
import { Image } from "astro:assets"
import WhyusMain from "../../assets/images/WhyusMain.webp"
import Whyus2 from "../../assets/images/Whyus2.webp"
import PromiseCard from "../molecules/PromiseCard.astro"
import { Shield, Clock, Heart } from "@lucide/astro";
---

<section id="whyus" class="flex flex-col overflow-hidden">
    <div class="relative w-full h-[540px]">        
        <Image 
            src={WhyusMain}
            sizes="100vw"
            alt="About image"
            class="w-full h-[540px] object-cover object-center relative"
            loading="eager"
        />
        <div class="absolute inset-0 flex justify-center mt-10 md:mt-28 max-sm:px-2">
            <div class="text-white flex flex-col text-center max-w-4xl mx-auto">
                <span class="text-lg">
                    What we have done
                </span>
                <h2 class="text-4xl font-bold">
                    Our Recent Success History
                </h2>
                <p class="text-lg mt-2 px-2">
                    We're not just another ride service. We're architects of seamless journeys, crafting premium transportation experiences that set new standards across South Africa.
                </p>
            </div>
        </div>
    </div>

    <div class="-mt-48 z-10 mx-auto bg-white rounded-xl shadow-xl grid grid-cols-1 md:grid-cols-3 gap-6 px-10 py-12 md:py-20 w-[90%] max-w-5xl text-center">
    <div>
      <h2 class="text-5xl font-bold text-black">5000+</h2>
      <div class="h-1 w-10 bg-accent my-2 mx-auto rounded-full"></div>
      <span class="text-slate-600">Rides</span>
    </div>
    <div>
      <h2 class="text-5xl font-bold text-black">4800+</h2>
      <div class="h-1 w-10 bg-accent my-2 mx-auto rounded-full"></div>
      <span class="text-slate-600">Happy Customers</span>
    </div>
    <div>
      <h2 class="text-5xl font-bold text-black">24/7</h2>
      <div class="h-1 w-10 bg-accent my-2 mx-auto rounded-full"></div>
      <span class="text-slate-600">Availability</span>
    </div>
  </div>

    <div class="mt-14 max-w-7xl mx-auto">
        <div class="flex flex-col justify-center items-center max-w-4xl mx-auto text-center mt-4">
            <h2 class="text-4xl font-bold">
                Our <span class="text-primary">Promise</span>
            </h2>
            <p class="text-lg mt-2 text-slate-500 px-2">
                We're not just another ride service. We're architects of seamless journeys, crafting premium transportation experiences that set new standards across South Africa.
            </p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-10 my-10 px-6 py-5">
            <PromiseCard label="Saftey First" Icon={Shield} text="Rigorous driver screening and regular vehicle maintenance ensure your security." iconClass="bg-gradient-to-br from-primary to-blue-400 text-white"/>
            <PromiseCard label="Always Reliable" Icon={Clock} text="Punctual pickups and efficient routes get you there on time, every time.." iconClass="bg-gradient-to-br from-accent to-yellow-400 text-black"/>
            <PromiseCard label="Personalization" Icon={Heart} text="We tailor every experience to fit your unique needs." iconClass="bg-gradient-to-br from-green-600 to-green-400 text-white"/>
        </div>
    </div>

    <div class="relative w-full h-[240px]">
        <Image
            src={Whyus2}
            alt="About image"
            class="w-full h-[240px] object-cover object-center relative"
            loading="eager"
        />
        <div class="absolute inset-0 flex flex-col justify-center items-center max-w-4xl mx-auto space-y-4 max-sm:px-5">
            <p class="text-xl md:text-3xl font-bold text-white text-center">"Every journey tells a story. We make sure yours is extraordinary."</p>
            <span class="text-accent">— TIMO Rides Team</span>
        </div>
    </div>
</section>